<template>
    <div class="row">
        <div class="col-md-12">

            <form>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="card-title">{{$route.meta.title}}</h3>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" v-on:click="$route.params.id ? update() : store() "
                                        class="btn btn-primary btn-fill">Submit
                                </button>

                                <router-link tag="a" :to="{ name: 'carousel-list' }" class="btn btn-warning btn-fill">
                                    Close
                                </router-link>

                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="card-body">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab"
                                   aria-controls="main" aria-selected="true">Main</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link " id="image-tab" data-toggle="tab" href="#image" role="tab"
                                   aria-controls="logo" aria-selected="true">Image/s</a>
                            </li>
                        </ul>

                        <div class="tab-content pt-4" id="myTabContent">
                            <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">

                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Name*</label>
                                            <input type="text" v-model="data.name" class="form-control"
                                                   placeholder="Name">
                                        </div>
                                    </div>

                                </div>



                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Description*</label>
                                            <textarea class="form-control" v-model="data.description"></textarea>
                                        </div>
                                    </div>

                                </div>


                            </div>

                            <div class="tab-pane fade show " id="image" role="tabpanel" aria-labelledby="image-tab">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Images/s
                                                <input style="display:none; height: 48px;" type="file"
                                                       class="form-control"
                                                       accept="image/*"
                                                       @change="uploadImage($event)" id="file-input">
                                                <a class="btn btn-upload d-block">Upload Image/s</a></label>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">


                                    <div class="col-md-4" v-for="(value,key) in data.has_many_image">
                                        <a @click="removeImage(key)" class="text text-dark"
                                           style="position: absolute; right:20px; cursor: pointer;"><i
                                                class="fa fa-times-circle"
                                                style="font-size:25px"></i></a>
                                        <img v-bind:src="value.path + value.file_name"
                                             class="img-thumbnail">
                                        <div>

                                            <label>
                                                <input type="radio" value="1" name="primary" v-model="value.primary"
                                                       v-on:click="setPrimaryImage(key)">
                                                Primary
                                            </label>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>


                        <div class="clearfix"></div>

                    </div>
                </div>
            </form>
        </div>
    </div>

</template>

<script>

    import AlertService from '../../../../cores/services/alert/alert.service';
    import UploadService from "../../../../cores/services/upload/upload.service";
    import CarouselService from "../../../../cores/services/admin/carousel/carousel.service";


    const alertService = new AlertService(),
        cmsService = new CarouselService(),
    uploadService = new UploadService();

    export default {
        data: function () {
            return {


                data: {
                    has_many_image: []
                },

                config: { }
            }
        },
    mounted: function () {

            if (this.$route.params.id) {


                this.show(this.$route.params.id);
            }
        },
        methods: {


            uploadImage(event) {
                alertService.uploading();
                uploadService.uploadImage('/api.public/upload/image', event).then(success => {
                    success.data.primary = this.data.has_many_image.length == 0 ? 1 : 0;
                    this.data.has_many_image.push(success.data);
                    alertService.uploadSuccess();
                }, fail => {

                });

            },
            setPrimaryImage: function (id) {

                this.data.has_many_image.forEach((value, key) => {
                    value.primary = key == id ? 1 : 0;

                });

            },
            removeImage(key) {

                this.$delete(this.data.has_many_image, key);

            },
            store: function () {

                return cmsService.store(this.data).then(success => {
                    alertService.saved();
                    this.data = {};
                }, fail => {
                    var errors = fail.response.data.errors;
                    this.popErrors(errors);
                });

            },
            update: function () {


                return cmsService.update(this.data).then(success => {
                    alertService.updated();
                }, fail => {
                    var errors = fail.response.data.errors;
                    this.popErrors(errors);
                });

            },
            show(id) {

                return cmsService.show(id).then(success => {

                    var response = success.data;
                    this.data = response;

                }, fail => {

                });

            }
        }
    }
</script>

<style scoped>

</style>