<template>
    <div class="row">
        <div class="col-md-12">

            <form @submit.prevent="$route.params.id ? update() : store()">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="card-title">{{$route.meta.title}}</h3>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="submit"
                                        class="btn btn-primary btn-fill">Submit
                                </button>

                                <router-link tag="a" :to="{ name: 'billing-plan-list' }"
                                             class="btn btn-warning btn-fill">
                                    Close
                                </router-link>

                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="card-body">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab"
                                   aria-controls="main" aria-selected="true">Main</a>
                            </li>
                            <!--<li class="nav-item">-->
                            <!--<a class="nav-link" id="images-tab" data-toggle="tab" href="#images" role="tab"-->
                            <!--aria-controls="images" aria-selected="false">Images</a>-->
                            <!--</li>-->

                        </ul>

                        <div class="tab-content pt-4" id="myTabContent">
                            <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Plan Name*</label>
                                            <input type="text" v-model="data.name" class="form-control"
                                                   placeholder="Plan Name..." required>
                                        </div>
                                    </div>

                                </div>


                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Plan Description*</label>

                                            <textarea class="form-control" v-model="data.description" required
                                                      placeholder="Plan Description..">

                                            </textarea>
                                        </div>
                                    </div>

                                </div>


                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Payment  Name*</label>

                                            <input type="text" v-model="data.payment_definition.name"
                                                   placeholder="Payment Name..." class="form-control"
                                                   required>

                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6 pr-3">
                                        <div class="form-group">
                                            <label>Payment Currency*</label>

                                            <input type="text" v-model="data.payment_definition.amount.currency"
                                                   class="form-control"
                                                   placeholder="Payment Currency..." required disabled>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Payment Amount*</label>

                                            <input type="number" v-model="data.payment_definition.amount.value"
                                                   class="form-control"
                                                   placeholder="Payment Amount..." required>

                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6 pr-3">
                                        <div class="form-group">
                                            <label>Setup Fee Currency*</label>

                                            <input type="text" v-model="data.merchant_preference.setup_fee.currency"
                                                   class="form-control"
                                                   placeholder="Setup Fee Currency..." required disabled>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Setup Fee Amount*</label>

                                            <input type="number" v-model="data.merchant_preference.setup_fee.value"
                                                   class="form-control"
                                                   placeholder="Setup Fee Amount..." required>

                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Success URL*</label>

                                            <input type="text" v-model="data.merchant_preference.return_url"
                                                   placeholder="Success URL..." class="form-control"
                                                   required>

                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Cancel URL*</label>

                                            <input type="text" v-model="data.merchant_preference.cancel_url"
                                                   placeholder="Cancel URL..." class="form-control"
                                                   required>

                                        </div>
                                    </div>

                                </div>


                            </div>


                        </div>


                        <div class="clearfix"></div>

                    </div>
                </div>
            </form>
        </div>
    </div>

</template>

<script>


    import AlertService from '../../../../../cores/services/alert/alert.service';
    import BillingPlanService from "../../../../../cores/services/admin/billing-plan/billing-plan.service";
    import PayPalModel from "../../../../../shared/models/paypal.model";


    const alertService = new AlertService(),
        cmsService = new BillingPlanService(),
        payPalModel = new PayPalModel();

    export default {
        data: function () {
            return {
                data: payPalModel.billingPlans(),
                config: {}
            }
        },
        mounted: function () {


            console.log(this.data);
            if (this.$route.params.id) {


                this.show(this.$route.params.id);
            }


        },
        methods: {


            store: function () {

                return cmsService.store(this.data).then(success => {
                    alertService.saved();
                    this.data = {};
                }, fail => {
                    var errors = fail.response.data.errors;
                    this.popErrors(errors);
                });

            },
            update: function () {


                return cmsService.update(this.data).then(success => {
                    alertService.updated();
                }, fail => {
                    var errors = fail.response.data.errors;
                    this.popErrors(errors);
                });

            },
            show(id) {

                return cmsService.show(id).then(success => {

                    var response = success.data;
                    this.data = response;

                }, fail => {

                });

            },

        }
    }
</script>

<style scoped>

</style>